<div class="container-lg">
  <br>
  <div *ngIf="allEmployees==null && errorMessage==null">

    <ag-grid-angular #myGrid     
      [pagination]="true" 
      id="myGrid"
      paginationPageSize=10
      [getRowHeight]="getRowHeight"
      rowSelection='multiple' 
      [rowMultiSelectWithClick]="true" 
      style="height: 500px; width: 100%;"
      class="ag-theme-balham" 
      [defaultColDef]="defaultColDef" 
      [rowData]="rowData"  
      [suppressCellSelection]="true"
      [columnDefs]="columnDefs"      
      (gridReady)="onGridReady($event)"
      >
    </ag-grid-angular> 
    <button class="btn btn-success" (click)="submit()"[disabled]="m.size<1"> 
      Update
  </button>

  </div>

  <div *ngIf="lisOfUser!=null && errorMessage==null">
    <div class="container col-lg-7 col-lg-offset-2 text-center">
      <br>
      <br>
      <div class="alert alert-success alert-dismissible fade show ">
        Following employee's has been assigned to task
        <h6 class="text-center">
          <div *ngFor="let item of lisOfUser">

            <strong>{{item}}</strong>
          </div>

        </h6>
      </div>
      <br>
      <br>
      <br>
      
    </div>

  </div>


  <div *ngIf="errorMessage!=null">

    <br>
    <div class="container col-lg-8 col-lg-offset-2 shadow-lg  mb-5 bg-white rounded">
      <br>

      <div class="alert alert-light alert-dismissible fade show text-center">
        <h1>{{errorMessage.status}}</h1>
        <h1> OOPS!</h1>
        <strong>Error!</strong> {{errorMessage.message}}

        <br>
        <a href=""> click </a> here

        <br>

      </div>
      <br>
      <br>
    </div>
    <br>
    <br>

  </div>

</div>
