
  <div class="container-lg">
    <div *ngIf="rowData!=null && errorMessage==null" >
      <br>
      <div >
        <select [(ngModel)]="pageSize" (change)="changePage(e)">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>
  
  
      <ag-grid-angular #myGrid 
      [pagination]="true" id="myGrid"
      [paginationPageSize]=pageSize 
      style="height: 390px; width: 100%;"
      
      [columnDefs]="columnDefs" 
      [defaultColDef]="defaultColDef"
      [getRowHeight]="getRowHeight"     
      class="ag-theme-balham" [rowData]="rowData" 
      [suppressCellSelection]="true"
      (gridReady)="onGridReady($event)">
    </ag-grid-angular>
    <button class="btn btn-success" (click)="submit()" >
        Update
    </button>
    
</div>
<!-- (rowClicked)='onRowClicked($event)' -->
<!-- rowSelection='multiple'  -->

<!-- [rowMultiSelectWithClick]="true"  -->

    <div *ngIf="listOfSuccessfultask!=null && errorMessage==null">
      <div class="container col-lg-7 col-lg-offset-2 text-center">
        <br>
        <br>
        <div class="alert alert-success alert-dismissible fade show ">
          Following tasks' are completed
          <h6 class="text-center">
            <div *ngFor="let item of listOfSuccessfultask">
  
              <strong>{{item}}</strong>
            </div>
  
          </h6>
        </div>
      </div>
  
      <br>
    </div>
  
  
    <div *ngIf="errorMessage!=null">
      <div class="container col-lg-8 col-lg-offset-2 shadow-lg  mb-5 bg-white rounded">
        <br>
        
        <div class="alert alert-light alert-dismissible fade show text-center">
          <h1>{{errorMessage.status}}</h1>
          <h1> OOPS!</h1>
          <strong>Error!</strong> {{errorMessage.message}}
  
          <br>
          <a href=""> click </a> here
  
          <br>
          
        </div>
        <br>
        <br>
      </div>
      <br>
      <br>
    </div>
    
  
  </div>