<div class="container-fluid">
    <div *ngIf=" errorMessage==null " >
      <br>
    
    <ag-grid-angular #myGrid [pagination]="true" id="myGrid" [paginationPageSize]=pageSize
    style="height: 550px; width: 94%; margin-left:3%;" 
    [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" 
    rowSelection='multiple'   
    [rowMultiSelectWithClick]="true"        
    [getRowHeight]="getRowHeight" class="ag-theme-balham" [rowData]="rowData" [suppressCellSelection]="true"
    (gridReady)="onGridReady($event)">
  </ag-grid-angular>    
      
    </div>   
<!-- 
    <ng-template #show>
      <div *ngIf="listOfSuccessfultask==null" class="container col-lg-7 col-lg-offset-2 text-center">
        <br>
        <br>
        <div class="alert alert-success alert-dismissible fade show ">
          <h1>
            No Task To Show!!!!!!!!
          </h1>
        </div>
      </div>
    </ng-template> -->
  
    <div *ngIf="errorMessage!=null">
      <div class="container col-lg-8 col-lg-offset-2 shadow-lg  mb-5 bg-white rounded">
        <br>
        <br>
        <br>
        <div class="alert alert-light alert-dismissible fade show text-center">
          <h1>{{errorMessage.status}}</h1>
          <h1> OOPS!</h1>
          <strong>Error!</strong> {{errorMessage.message}}
  
          <br>
          <a href=""> click </a> here
  
          <br>
  
        </div>
        <br>
        <br>
      </div>
      <br>
      <br>
    </div>
  
  
  </div>
  