/* You can add global styles to this file, and also import other style files */
@import 'ag-grid-community/dist/styles/ag-grid.css';
@import 'ag-grid-community/dist/styles/ag-theme-balham.css';
html {
    height: 100%;
    
}
body {
    
    background: linear-gradient(180deg, #17a2bb 50%, #efefef 50%) no-repeat;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.cell-wrap-text {
    white-space: normal !important;
    
}
/* 
.ag-header-cell-label {
    justify-content: center;
 } */
.ag-cell { 
    
    overflow:visible !important; 
    /* text-align: center; */
  }
  
  .ag-row {
      z-index: 0;
  }
  .ag-row.ag-row-focus {
      z-index: 1;
  }