<br>
<div class="container main-secction">
  <div class="row">


    <div class="row user-left-part">
      <div class="col-md-4 col-sm-3  col-sm-12  col-xs-12 user-profil-part pull-left">
        <div class="row ">
          <div class="col-md-12 col-md-12-sm-12 col-xs-12 user-image text-center">
            <img src="assets/Blank_profile.png" class="rounded-circle">
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12 user-detail-section1 text-center">
            <br>
            <br>
            <button id="btn-contact" (click)="clearModal()" data-toggle="modal" data-target="#contact"
              class="btn btn-success btn-block follow">Edit</button>
          </div>


        </div>

      </div>
      <div class="col-md-7 col-sm-8 col-xs-12 pull-right profile-right-section">
        <div class="row profile-right-section-row">
          <div class="col-md-12 profile-header">
            <div class="row">
              <div class="col-md-8 col-sm-6 col-xs-6 profile-header-section1 pull-left">
                <h1>{{usr.usrName | titlecase }}</h1>
                <h5>{{usr.role.rName| titlecase}}</h5>
              </div>

            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-8">
                <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" href="#profile" role="tab" data-toggle="tab"><i
                        class="fas fa-user-circle"></i>Professional Info</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#buzz" role="tab" data-toggle="tab"><i
                        class="fas fa-info-circle"></i>Personal Info</a>
                  </li>
                </ul>

                <br>
                <!-- Tab panes -->
                <div class="tab-content">

                  <div role="tabpanel" class="container tab-pane fade show active" id="profile">
                    <div class="row">
                      <div class="col-md-3">
                        <label>Emp Id </label>
                      </div>
                      <div class="col-md-6">
                        <p>{{usr.usrId}}</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3">
                        <label>Name</label>
                      </div>
                      <div class="col-md-6">
                        <p>{{usr.usrName}}</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3">
                        <label>Email</label>
                      </div>
                      <div class="col-md-6">
                        <p>{{usr.usrEmail}}</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3">
                        <label>Manager</label>
                      </div>
                      <div class="col-md-6">
                        <p *ngIf="usr.usrMId!=null">{{usr.usrMName}}</p>
                        <p *ngIf="usr.usrMId==null">No manager</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3">
                        <label>Profesion</label>
                      </div>
                      <div class="col-md-6">
                        <p>{{usr.role.rName| titlecase}}</p>
                      </div>
                    </div>
                  </div>
                  <div role="tabpanel" class="container tab-pane fade" id="buzz">
                    <div class="row">
                      <div class="col-md-4">
                        <label>Phone</label>
                      </div>
                      <div class="col-md-6">
                        <p>{{usr.usrPhno}}</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <label>Current Address</label>
                      </div>
                      <div class="col-md-6">
                        <p>{{usr.usrCurrentAdd}}</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <label>Permanent Address</label>
                      </div>
                      <div class="col-md-6">
                        <p>{{usr.usrPermanentAdd}}</p>
                      </div>
                    </div>



                  </div>

                </div>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 
<div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="contact">Contactarme</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <p for="msj">Se enviará este mensaje a la persona que desea contactar, indicando que te quieres comunicar con
            el. Para esto debes de ingresar tu información personal.</p>
        </div>
        <div class="form-group">
          <label for="txtFullname">Nombre completo</label>
          <input type="text" id="txtFullname" class="form-control">
        </div>
        <div class="form-group">
          <label for="txtEmail">Email</label>
          <input type="text" id="txtEmail" class="form-control">
        </div>
        <div class="form-group">
          <label for="txtPhone">Teléfono</label>
          <input type="text" id="txtPhone" class="form-control">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="openModal()" data-dismiss="modal">Guardar</button>
      </div>
    </div>
  </div>
</div> -->
